@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: inline-flex;
  margin: 0;
}

#menu {
  width: 25%;
  height: 100%;
  display: inline-block;
  background-color: rgba(16, 20, 24, 0.94);
  cursor: pointer;
  position: relative;
}

#menu .toggle {
  width: 64px;
  height: 64px;
  background-color: red;
  z-index: 999;
  position: absolute;
  margin: auto;
  left: calc(25% - 32px);
  top: calc(50% - 32px);
  border-radius: 50%;
  cursor: pointer;
}

#wrapper {
  width: 75%;
  height: 100%;
  display: inline-block;
  background-color: #1d252c;
}
