@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Gilroy', sans-serif;;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* BOOTSTRAP CHANGES*/
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 30px;
}

/* CUSTOM CSS */

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: inline-flex;
  margin: 0;
  color: white;
}

h1 {
  color: white;
  font-weight: bolder;
    font-size: 4em;
}

#menu {
  width: 25%;
  height: 100%;
  display: inline-block;
  background-color: rgba(16, 20, 24, 0.94);
  position: relative;
  transition: 0.6s;
}

#menu .toggle {
  width: 64px;
  height: 64px;
  background-color: #1E2125;
  z-index: 999;
  position: absolute;
  margin: auto;
  right: -32px;
  top: calc(50% - 32px);
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../img/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: 0.6s;
}

#wrapper {
  width: 75%;
  height: 100%;
  display: inline-block;
  background-color: #1d252c;
  transition: 0.6s;
  overflow: hidden;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d252c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(16, 20, 24, 0.94);
  border-radius: 100px;
  transition: background 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.hide {
  width: 2% !important;
}

.full {
  width: 98% !important;
}

.toggle_up {
  top: 5% !important;
  transform: rotate(180deg) !important;
  background-size: 25px !important;
  background-image: url("../img/svg/menu.svg") !important;
}

.section {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 45px 40px;
  box-sizing: border-box;
}
.block{
  width: 40%;
  background-color: white;
  transition: 0.6s;
  clip-path: polygon(5% 7%, 96% 9%, 97% 97%, 2% 93%);
  opacity: 0.6;
}

.block:hover{
  clip-path: polygon(3% 3% , 97% 3% , 97% 97% , 3% 97%);
  cursor: pointer;
  zoom: 1.5;
  opacity: 1;
}
